@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  margin:0; 
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  background-color: black
}
table{
  border-collapse: collapse;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
}
td{
  background-color: rgb(78, 78, 78);
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  padding: 4px;
}
td:hover{
  background-color: darkgrey;
}
td#igual{
  background-color: darkorange;
}
td#igual:hover{
  background-color: rgb(240, 164, 71);
}
#resultado{
  color: white;
  height: 80px;
  text-align: right;
  font-size: 50px;
}
resultado:hover{
  background-color: rgb(78, 78, 78);
}